:root {
    --pink-color: #e26e70;
    /* --pink-color: #0091d4; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    background-color: #16509a;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    color: white;
    font-size: 20px;
}

.header-nav-row a {
    text-decoration: none;
    color: white;
}

/* slider */
* {
    margin: 0;
    padding: 0;
}

.slide {
    position: relative;
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    /*transition: all 0.5s;*/
}

.move-slider {
    width: 10000px;
    /*margin-left: -1000px;*/
    transition: all 0.5s;
}

    .move-slider img {
        width: 600px;
        height: 450px;
        float: left;
    }

.navigate-slider {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 48%;
    padding-left: 20px;
    display: none;
}

.slide:hover .navigate-slider {
    display: block;
}

/*.navigate-slider i:last-child {*/
/*    position: relative;*/
/*    left: 900px;*/
/*}*/

.navigate-slider i:nth-child(2) {
    position: relative;
    left: 510px;
}

.header-left {
    width: 300px;
    /* border: 1px solid #ccc; */
    box-shadow: 5px 10px 18px #000000;
}

.header-input {
    padding-left: 10px;
}

.header-title {
    color: #0091d4;
    background-color: #e6e6e6;
    height: 30px;
    width: 300px;
    border-bottom: 3px solid #16509a;
    line-height: 30px;
    padding-left: 10px;
}

.input-group {
    font-size: 16px;
    font-weight: 550;
    color: #16509a;
    margin: 25px 0 10px;
}

.custom-select {
    border: 1px solid #e6e6e6;
    outline: none;
    width: 280px;
    height: 30px;
    border-radius: 3px;
}

.form-check-radio div {
    padding-left: 13px;
    margin-top: 15px;
}

.form-date-input {
    margin-top: 13px;
}

    .form-date-input input {
        width: 180px;
        height: 30px;
        margin: 8px 0 12px;
        border: 1px solid #e6e6e6;
        outline: none;
        border-radius: 3px;
    }

.btn-search {
    margin: 15px;
    /* margin: auto 0; */
    text-align: center;
}

    .btn-search button {
        padding: 5px 8px;
        background: #0091d4;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

.header-right {
    width: 300px;
    /* border: 1px solid #ccc; */
    box-shadow: 5px 10px 18px #000000;
    height: 450px;
}

.header-child-cart {
    border: 1px solid #ccc;
    height: 130px;
    margin-bottom: 20px;
}

.cart-buy {
    margin: 15px;
    /* margin: auto 0; */
    text-align: center;
}

    .cart-buy div {
        color: red;
        margin-bottom: 15px;
    }

    .cart-buy button {
        padding: 5px 8px;
        background: #0091d4;
        color: white;
        border-radius: 5px;
        border: none;
    }

.header-child-contact {
    border: 1px solid #ccc;
    height: 130px;
    margin-bottom: 20px;
}

.header-child-contact2 {
    border: 1px solid #ccc;
    height: 100px;
    margin-bottom: 20px;
}

.header-child-contact h3 {
    padding-top: 5px;
    color: #0091d4;
    text-align: center;
}

.header-child-contact2 h3 {
    padding-top: 5px;
    color: #0091d4;
    text-align: center;
}

/* tab ui */
#tabs {
    /* margin: 15% auto 0; */
    max-width: 1200px;
    margin: 50px auto 0;
}

.tabs {
    display: flex;
    position: relative;
}

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #c23564;
        transition: all 0.2s ease;
    }

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 10px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }



/* Model */
.open-modal-btn {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.modal__inner {
    width: 400px;
    position: relative;
    top: 20%;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalShow 0.3s linear;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--pink-color);
    color: white;
}

.modal__body {
    padding: 15px;
}

    .modal__body h2 {
        color: var(--pink-color);
        margin-bottom: 10px;
    }

.modal__footer {
    padding: 15px;
    text-align: right;
}

    .modal__footer button {
        padding: 10px 20px;
        color: white;
        background: var(--pink-color);
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }

.hide {
    display: none;
}

@keyframes modalShow {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 20%;
        opacity: 1;
    }
}
