.grid-container {
    margin: 0 auto;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    / background-color: #2196F3;
    / background-color: #eeeeee;
    padding: 10px;
}

.grid-item {
    background-color: #db6400;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin: 5px 10px;
    border-radius: 12px;
    border: none;
}

.grid-container {
    padding-bottom: 20px;
}

.tick {
    background-color: #71c1ef;
}

.title-book-ticket {
    text-align: center;
    color: #0791d4;
    margin-bottom: 30px;
}

.tabs-center {
    justify-content: center !important;
    margin: 20px 0;
}

.grid-item-booked {
    background-color: red;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin: 5px 10px;
    border-radius: 12px;
    border: none;
}
