<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/assets_client/css/grid.css">
    <link rel="stylesheet" href="~/Content/assets_client/css/styles.css">
    <link rel="stylesheet" href="~/Content/assets_client/css/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6180dd5c61f84693"></script>

    @RenderSection("link", required: false)
</head>
<body>
    <div class="header-nav">
        <div class="grid wide">
            <div class="row header-nav-row">
                <div class="l-2"><img src="~/Content/assets_client/img/logo.png" alt=""></div>
                <div class="l-2"></div>
                <div class="l-2"><a href="https://happy24h.github.io/train-demo/book-tickets/home.html">Đặt vé</a> </div>
                <div class="l-2">Nhà ga</div>
                <div class="l-2">Vé tàu</div>
                <div class="l-2"><a href="https://happy24h.github.io/train-demo/login/index.html">Liên hệ</a></div>
            </div>
        </div>
    </div>

    <div class="grid wide">
        <div class="row" style="justify-content: center">
            @RenderBody()
        </div>
    </div>

    <div class="content3-end">
        <p class="content3-child">Tại sao chọn duongsatvietnam.vn?</p>
    </div>
    <div class="content5">
        <div class="row_2 places-list_2">
            <div class="col_2 col-third_2">
                <a href=""><img src="https://www.vemaybay.vn/api/imagefilter/crop/181/155/support_24-7.png" alt="New york" class="place-img" /></a>
                <div class="place-bodys_2">
                    <h3 class="place-heading_2">Hỗ trợ 24/7</h3>
                    <p class="place-time_2 content4-a">duongsatvietnam.vn luôn săn sàng tư vấn và giải đáp thắc mắc của Khách hàng 24/7</p>
                </div>
            </div>
            <div class="col_2 col-third_2">
                <a href=""><img src="https://www.vemaybay.vn/api/imagefilter/crop/181/155/gia-ve-tot.png" alt="New york" class="place-img" /></a>
                <div class="place-bodys_2">
                    <h3 class="place-heading_2">Giá vé tốt nhất</h3>
                    <p class="place-time_2 content4-a">Đảm bảo giá vé tàu tốt nhất cho nhu cầu đặt mua vé tàu theo các chặng khác nhau của Khách hàng</p>

                </div>
            </div>
            <div class="col_2 col-third_2">
                <a href=""><img src="https://www.vemaybay.vn/api/imagefilter/crop/181/155/dich-vu-da-nang.png" alt="New york" class="place-img" /></a>
                <div class="place-bodys_2">
                    <h3 class="place-heading_2">Dịch vụ đa dạng</h3>
                    <p class="place-time_2 content4-a">Ngoài dịch vụ vé tàu chung tôi còn có dịch vụ thuê xe và khách sạn phục vụ Khách hàng</p>

                </div>
            </div>

            <div class="col_2 col-third_2">
                <a href=""><img src="https://www.vemaybay.vn/api/imagefilter/crop/181/155/giao-ve-tan-noi.png" alt="New york" class="place-img" /></a>
                <div class="place-bodys_2">
                    <h3 class="place-heading_2">Giao vé tận nơi</h3>
                    <p class="place-time_2 content4-a">Giao vé tận nơi nhanh chóng, uy tín, nhận vé mới thanh toán</p>

                </div>
            </div>

        </div>
    </div>

    <!--footer-->
    <footer class="footer-all">
        <div class="content-footer">
            <div class="footer-width">
                <div class="footer-float">
                    <h1><img class="footer-float-img" src="	https://www.vemaybay.vn/images/hotline-icon.png" alt="">Hotline</h1>
                    <p>0243.85.06.999</p>
                </div>
                <div class="footer-float">
                    <h1><img class="footer-float-img" src="https://www.vemaybay.vn/images/hotline-icon.png" alt="">Điện thoại</h1>
                    <p> 0243.85.06.999</p>
                </div>
                <div class="footer-right"><input class="footer-input" type="text" placeholder="Chúng tôi có thể giúp gì cho bạn "><i class="footer-icon fas fa-search"></i></div>

            </div>
            <div class="footer1">
                <h3>Vé tàu theo thành phố</h3>
                <div class="footer1-child">
                    <p>vé tàu theo quốc gia</p>
                    <p>vé tàu theo hãng hàng không</p>
                    <p>các khách sạn hàng đầu</p>
                </div>
            </div>
            <div class="footer2">
                <div class="footer2-child">
                    <p>vé tàu đi đà nẵng</p>
                    <p>vé tàu đi đà lạt</p>
                    <p>vé tàu đi đà lạt</p>
                </div>
                <div class="footer2-child">
                    <p>vé tàu đi hà nội</p>
                    <p>vé tàu đi vinh</p>
                    <p>vé tàu đi buôn ma thuột</p>
                </div>
                <div class="footer2-child">
                    <p>vé tàu đi phú quốc</p>
                    <p>vé tàu đi hải phòng</p>

                </div>
                <div class="footer2-child">
                    <p>vé tàu đi tp.hcm (sài gòn)</p>
                    <p>vé tàu đi nha trang</p>
                </div>
            </div>
            <div class="footer-row">
                <div class="footer-row-child">
                    <h2>Thông tin thêm</h2>
                    <p>Điều khoản sử dụng</p>
                    <p>Chính sách bảo mật</p>
                    <p>Hướng dẫn đặt vé</p>
                    <p>Thanh toán tại các Cửa Hàng Tiện Lợi 24/7</p>
                    <p>Hướng dẫn thanh toán và giao nhận</p>
                </div>
                <div class="footer-row-child">
                    <h2>Về chúng tôi</h2>
                    <p>Giới thiệu về duongsatvietnam.vn</p>
                    <p>newstrain.air.tickets</p>
                    <p>Khách hàng nói về chúng tôi</p>
                    <p>Giải thường</p>
                </div>
                <div class="footer-row-child">
                    <h2>Hỗ trợ</h2>
                    <p>Phản hồi</p>
                    <p>Câu hỏi thường gặp</p>
                    <p>Tư vấn hỗ trợ đặt vé</p>
                </div>
                <div class="footer-row-child">
                    <h2>Trụ sở</h2>
                    <p>Văn phòng chính: ngõ 97 Thái Thịnh, Đống Đa, Hà Nội</p>
                    <p>Chi Nhánh: Nguyễn Kiệm, Phường 3,Gò Vấp,HCM</p>
                    <p>Văn phòng chính: ngõ 97 Thái Thịnh, Đống Đa, Hà Nội</p>
                    <p>Chi Nhánh: Nguyễn Kiệm, Phường 3,Gò Vấp,HCM</p>

                </div>
            </div>
            <div class="footer-3">
                <div><img style="color: orange" src="/assets/img/logo.png" alt=""></div>
                <div class="footer-3-child">
                    <p>Trụ sở chính: ngõ 97 Thái Thịnh, Đống Đa, Hà Nội ( Tổng công ty Đường sắt Việt Nam. )</p>
                    <p>Trân trọng cảm ơn!..</p>
                </div>
                <div><img src="~/Content/assets_client/img/logo.png" alt=""></div>
            </div>
        </div>
    </footer>

    <!-- Model -->
    <!-- <button class="open-modal-btn">Open Modal</button> -->
    <div class="modal hide">
        <div class="modal__inner">
            <div class="modal__header">
                <p>Chào mừng quý khách...</p>
                <i class="fas fa-times"></i>

            </div>
            <div class="modal__body">
                <h2>Vé tàu</h2>
                <p>Chưa có vé tàu vui lòng thử lại sau</p>

            </div>
            <div class="modal__footer">
                <button>Close</button>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
</body>
</html>